# =====================

# DEPENDENCIES

# =====================

node_modules/

# =====================

# BUILD OUTPUTS

# =====================

dist/
build/
out/
coverage/
.nyc_output/

# =====================

# LOGS

# =====================

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

# =====================

# ENV FILES

# =====================

.env
.env.*
!.env.example

# =====================

# OS FILES

# =====================

.DS_Store
Thumbs.db

# =====================

# IDE

# =====================

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.sublime-workspace
*.sublime-project

# =====================

# FRONTEND (React/Vite/Angular etc)

# =====================

frontend/node_modules/
frontend/dist/
frontend/build/

# =====================

# BACKEND (NestJS)

# =====================

backend/node_modules/
backend/dist/
backend/build/
backend/generated/prisma/

# =====================

# TEMP FILES

# =====================

.tmp/
.temp/
pids/
*.pid
*.seed
*.pid.lock

# =====================

# TEST REPORTS

# =====================

coverage/

# =====================

# PRISMA (si utilisé globalement)

# =====================

generated/prisma/
